<%- include('templates/header') %>


    <!-- Header Start -->
    <div class="container-fluid hero-header bg-dark py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated text-primary slideInDown">WalletConnect Features</h1>
                    <a href="/wallets" class="btn btn-primary btn-lg mt-3">Connect Wallet</a>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="img/hero-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

  
    <!-- Features Start -->
    <div class="container-xxl py-5" style="background-color: black;">
        <div class="container">
           
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="/wallets" style="text-decoration:none; color:darkgrey;">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="img/spanner-wrench.png" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3 text-white">Rectification</h5>
                            <span>Identify and correct issues with wallet data or blockchain transactions. this ensure your assets remains safe and and operations are executed. </span>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="/wallets" style="text-decoration:none; color:darkgrey;">
                       <div class="d-flex align-items-start">
                           <img class="img-fluid flex-shrink-0" src="img/synchronize.png" alt="">
                              <div class="ps-4">
                                  <h5 class="mb-3 text-white">Migrate/Swap</h5>
                                 <span>Easily migrate assets between wallets or swap tokens directly using supported decentralized exchanges or bridges across blockchains.</span>
                               </div>
                      </div>
                  </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a href="/wallets" style="text-decoration:none; color:darkgrey;">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="img/icon-5.png" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3 text-white">Buy/Swap</h5>
                            <span>Purchase new tokens or swap existing ones using flat on-ramps or integrated token swap platforms within your wallet interface</span>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="/wallets" style="text-decoration:none; color:darkgrey;">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="img/trading.png" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3 text-white">Staking</h5>
                            <span>Stake your tokens in supported protocols to earn passive income while helping secure the network.</span>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a href="/wallets" style="text-decoration:none; color:darkgrey;">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="img/gas-station.png" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3 text-white">Fix Gas</h5>
                            <span>Optimize  or adjust gas fees pending transactions to prevent delays or failed confirmations</span>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a href="/wallets" style="text-decoration:none; color:darkgrey;">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="img/paint-palette.png" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3 text-white">NFTs</h5>
                            <span>View, manage or transfer your non-fungible tokens(NFs) directly from your wallet including support for popular NFT standards.</span>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
    <%- include('templates/footer') %>