<%- include('templates/header') %>


    <!-- Header Start -->
    <div class="container-fluid  banner bg-dark py-5 mb-5">
        <div class="container py-5">
            <div class="banner-overlay text-center">
                <h1 class="display-4 fw-bold text-white">Connect Your Wallet Seamlessly</h1>
                <p class="lead">Experience fast, secure and easy wallet connection across web3 apps</p>
                <a href="/features" class="btn btn-primary btn-lg mt-3">Connect Wallet</a>
              </div>
        </div>
    </div>
    <!-- Header End -->







    <!-- Service Start -->
    <div class="container-xxl  py-5 my-5"  style="background-color:black;">
        <div class="container py-5">
            <div class="row g-4">
               
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class=" card p-5" style="background-color: #333;">
                        <h5 class="card-title text-center text-white" style="margin-bottom: 10%;">Swap Token</h5>
                       <div style="margin-bottom: 4%;">
                        <input type="text" class="form-control" placeholder="From (e.g ETH)">
                       </div>
                        <div style="margin-bottom: 4%;">
                            <input type="text" class="form-control" placeholder="To (e.g USDT)">
                        </div>
                        <button type="button" class="btn btn-primary">swap</button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class=" card p-5" style="background-color: #333;">
                        <h5 class="card-title text-center text-white" style="margin-bottom: 10%;">Swap Token</h5>
                       <div style="margin-bottom: 4%;">
                        <input type="text" class="form-control" placeholder="From Chain (e.g ETH)">
                       </div>
                        <div style="margin-bottom: 4%;">
                            <input type="text" class="form-control" placeholder="To Chain (e.g Polygin)">
                        </div>
                        <button type="button" class="btn btn-primary">swap</button>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class=" card p-5" style="background-color: #333;">
                        <h5 class="card-title text-center text-white" style="margin-bottom: 10%;">Swap Token</h5>
                       <div style="margin-bottom: 4%;">
                        <input type="text" class="form-control" placeholder="From Coin (e.g BTC)">
                       </div>
                        <div style="margin-bottom: 4%;">
                            <input type="text" class="form-control" placeholder="T0 Amount (e.g USD)">
                        </div>
                        <button type="button" class="btn btn-primary">swap</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Roadmap Start -->
    <div class="container-xxl py-5 bg-dark">
        <div class="container">
            <h1 class="display-6 text-primary text-center"  style="margin-bottom: 4%;">Supported Wallets</h1>
            <div class="row g-3">
                <div class="col-md-3 col-md-3 wow " data-wow-delay="0.3s">
                    <a href="/wallets">
                    <div class=" text-center p-3 wallet-hover">
                        <img class="mb-0" src="img/metamask-icon.png"><br>
                        <span class="text-white fs-5">Metamask</span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 col-md-3 wow " data-wow-delay="0.3s">
                    <a href="/wallets">
                    <div class=" text-center p-3 wallet-hover" >
                        <img class="mb-0" src="img/trust-wallet-token (2).png"><br>
                        <span class="text-white fs-5">Trustwallet</span>
                    </div>
                    </a>
                </div>
                 <div class="col-md-3 col-md-3 wow " data-wow-delay="0.3s">
                    <a href="/wallets">
                    <div class=" text-center p-3 wallet-hover" >
                        <img class="mb-0" src="img/coinbase.png"><br>
                        <span class="text-white fs-5">Coinbase</span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 col-md-3 wow " data-wow-delay="0.3s">
                    <a href="/wallets">
                    <div class=" text-center p-3 wallet-hover " >
                        <img class="mb-0" src="img/wallet-connect-logo.png" style="width:27.5%;"><br>
                        <span class="text-white fs-5">WallectConnect</span>
                    </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Roadmap End -->

<%- include('templates/footer') %>
   